/*Импорт шрифтов*/
@font-face {
    font-family: 'Nerko One';
    src: url(fonts/NerkoOne-Regular.ttf);
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url(fonts/BalsamiqSans-Regular.ttf);
}

/*Весь документ*/
body {
    position: fixed;
    top: -9px;
    left: -9px;
    width: 100%;
    height: 100%;
    background: #ffb18b;
}

/*Место с монеткой*/
div.main {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background: #ffb18b;
    height: 100%;
    display: none;
    z-index: 1;
}

/*Большая монетка*/
img.coin {
    width: 35%;
    margin-left: 32.5%;
    margin-top: 6%;
    margin: auto;
    scale: 1;
    transition: 0.2s;
}

/*Верхняя часть. Перевел на Flexbox*/
div.header {
    background: #4f7a5d;
    height: 10%;
    width: 101%;
    display: flex;
}


/*Иконка монет. Перевел на Flexbox*/
img.coin_ico {
    float: left;
    margin-left: 1%;
    height: 90%;
    order: 1;
}

/*Кол-во монеток. Перевел на Flexbox*/
a.moneynum {
    font-size: 84px;
    line-height: 1;
    letter-spacing: 0em;
    font-weight: 500;
    font-style: normal;
    font-family: Nerko One;
    padding-left: 2%;
    color: #89d7d3;
    order: 2;
}

/*Отдельно иконка магазина. Перевёл на Flexbox*/
img.shop {
    margin-right: 2%;
    height: 90%;
    margin-left: auto;
    align-self: flex-end;
    order: 3;
}

div.shop {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 101%;
    background: #ffb18b;
    padding-top: 2%;
    justify-content: center;
    z-index: 2;
    filter: blur(0px);



}

img.imgcoin {
    
    padding: 10%;
    float: left;
    
}

@media screen and (max-width: 500px) {
    div.card {
        height: 25%;
        width: 40%;
        border-radius: 20%;
        margin-top: 2.5%;
    }

    div.card1 {
        height: 25%;
        width: 40%;
        border-radius: 20%;
        margin-top: 2.5%;
    }

    a.button{
        padding: 5%;
        padding-inline: 10%;
        margin-top: 13%;
        font-size: 3vh;  
    
    }

    img.imgcoin{
        height: 40px;
        width: 40px;
    }

    p.description{
        font-size: 1.8vh;
        margin-top: auto;
    }
    
    p.descriptionin{
        font-size: 1.8vh;
        margin-top: auto;
    }
    img.coin_ico{
        margin-top: 1.2%;
    }
}

@media screen and (min-width: 501px) and (max-width:1023px){
    div.card {
        height: 25%;
        width: 35%;
        border-radius: 15%;
    }

    div.card1 {
        height: 25%;
        width: 35%;
        border-radius: 15%;
    }

    a.button{
        padding: 10%;
        padding-inline: 18%;
        font-size: 6.495wh;
        margin-top: 55%;
    }

}

@media screen and (min-width: 1024px) {
    div.card {
        height: 45%;
        width: 22%;
        border-radius: 20%;

    }

    div.card1 {
        height: 45%;
        width: 22%;
        border-radius: 20%;
    }

    a.button{
        padding: 5%;
        padding-inline: 10%;
        font-size: 6.495wh;
        margin-top: 13%;
        font-size: 5.548vh;  
        
    }

    p.description{
        font-size: 3.25vh;
    }

    p.descriptionin{
        font-size: 3.25vh;
    }

    img.coin_ico{
        margin-top: 0.25%;
    }
}

div.card {
    background: coral;
    display: flex;
    flex-wrap: wrap;
    margin-inline: 1.5%;
    /*margin-left: 8%;
    margin-bottom: 10px;*/
    
}

div.card1 {
    
    background: aqua;
    display: flex;
    flex-wrap: wrap;
    margin-inline: 1.5%;
    margin-right: 1%;
    
}

div.cardtext{
    font-size: 2vh;
}

a.button {
    background:  rgb(47, 148, 50);
	height: 5%;
    width: 20%;
    border: #4b4a4a;
    border-radius: 15px;
    font-family: Nerko One;
    line-height: 0.2;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


a.button:hover{
    color: white;
    box-shadow: 0px 0px 20px #00ff1e;
}

p.description {
    text-align: center;
    padding-inline: 20%;
   /* font-size: 3.25vh;*/
    font-family: Balsamiq Sans;
}

p.descriptionin {
    text-align: center;
    padding-left: 33%;
    /*font-size: 3.25vh;*/
    padding-right: 27%;
    font-family: Balsamiq Sans;
}

  
  .product-info {
    float: left;
    height: 420px;
    width: 327px;
    border-radius: 24px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .product-text {
    height: 250px;
    width: 327px;
  }
  
  .product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 48px;
    color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
    font-family: 'Balsamiq Sans', serif;
  }
  
  .product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Balsamiq Sans', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 25px;
    font-weight: lighter;
    overflow: hidden;
  }
  
  .product-price-btn {
    height: 103px;
    width: 327px;
    margin-top: 17px;
    position: relative;
  }
  
  .product-price-btn p {
    display: inline-block;
    position: absolute;
    top: 17px;
    height: 50px;
    font-family: 'Balsamiq Sans', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }
  
  span {
    display: inline-block;
    height: 50px;
    font-family: 'Nerko One', serif;
    font-size: 34px;
  }
  
  .product-price-btn button {
    display: inline-block;
    height: 50px;
    width: 150px;
    margin: -20px 0px 30px 50%;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Balsamiq Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background:  rgb(47, 148, 50);
    cursor: pointer;
    outline: none;
    transition: 0.5s;

  }
  

div.buyinfo{
    z-index: 3;
    position: absolute;
    display: none;
    border-radius: 48px;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
.product-price-btn button:hover{
    box-shadow: 0px 0px 20px #950b9f;
  }